<html>
<body>

<% include ./partials/header.ejs %>
<div class='row rowA'>
  <div class='col-sm-8 col-sm-offset-2 indexCol1'>
    <h1 class='welcome'>DOGGY DNA TESTS!</h1>
  
  <div class="col-sm-8 col-sm-offset-2 indexCol2">
    <h3 class='indexP'>Place your bets, win a *prize!</h3>
    <p>*the satisfaction of being right</p>
  </div>
</div>
<% include ./partials/dna.ejs %>
<% include ./partials/footer.ejs %>

</html>
</body>